No need define output subscription-result

About [draft-ietf-netconf-subscribed-notifications-02](https://tools.ietf.org/html/draft-ietf-netconf-subscribed-notifications-02) bellow rpc, 
```
     +---x delete-subscription
     |  +---w input
     |  |  +---w identifier    subscription-id
     |  +--ro output
     |     +--ro subscription-result        subscription-result
     +---x kill-subscription
        +---w input
        |  +---w identifier                 subscription-id
        +--ro output
           +--ro subscription-result        subscription-result
```
Suggest remove output, because if success, we can use `<ok>` message, if failed, we can use `<rpc-error>` message. Should follow RFC6241 section 4, So I think no need define output.


Hi Peipei,

I had been thinking that the two identity errors local to the subscription process might be useful for kill-subscription output:
identity no-such-subscription
identity internal-error

As this type of information should be independent of NETCONF (i.e.,  perhaps applicable to RESTCONF or other transports), it would seem useful to keep.  This would also allow existing NETCONF RPC error conditions for access to the RPC to remain.

Eric

From: Peipei Guo [mailto:notifications@github.com]
Sent: Wednesday, May 17, 2017 8:11 AM
To: netconf-wg/rfc5277bis <rfc5277bis@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [netconf-wg/rfc5277bis] No need define output subscription-result (#2)


About draft-ietf-netconf-subscribed-notifications-02<https://tools.ietf.org/html/draft-ietf-netconf-subscribed-notifications-02> bellow rpc,

     +---x delete-subscription

     |  +---w input

     |  |  +---w identifier    subscription-id

     |  +--ro output

     |     +--ro subscription-result        subscription-result

     +---x kill-subscription

        +---w input

        |  +---w identifier                 subscription-id

        +--ro output

           +--ro subscription-result        subscription-result

Suggest remove output, because if success, we can use <ok> message, if failed, we can use <rpc-error> message. Should follow RFC6241 section 4, So I think no need define output.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/netconf-wg/rfc5277bis/issues/2>, or mute the thread<https://github.com/notifications/unsubscribe-auth/AN9voELVg3LPNoiZ_fofjYop9g4BSRpNks5r6uPBgaJpZM4NdxaA>.


Subsumed into the larger (and extensive) Error-code discussions which were pursued within the Dezign team, as documented in the minutes.  Note: it is possible that this issue will return, as error-codes are again being discussed at we approach WGLC.